version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: truck-backend
    environment:
      NODE_ENV: production
      PORT: 4000
      DATABASE_URL: postgresql://hdpontes:h1h2h3@postgres:5432/trucklogbook
      JWT_SECRET: L5ZSoBvCXJ2TduEnssSciHY3u6lk2O0ZyWgi3ziEjQ5VQhl7crTRKpot5AiFu2K5
    ports:
      - "4000:4000"
    networks:
      - automacoes_default
    restart: unless-stopped
    command: sh -c "npx prisma migrate deploy && node dist/server.js"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:4000
    container_name: truck-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - automacoes_default
    restart: unless-stopped

networks:
  automacoes_default:
    external: true
